body {
  background-color: #fdf6e3;
}

header {
  font-size: 1.5rem;
}

footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

#content, #favs, #facts, #types {
  color: #93a1a1;
}

.wrapper > .dfn {
   background-color: #b58900;
 }

.dfn p+strong {
  color: #fff;
}

html body header nav ul li mark {
  background-color: #719e07;
}

[rel="external"] {
  background-color: #2694d8;
}

ol li:first-child {
  background-color: #719e07;
}

ol li:last-child {
  background-color: #2aa198;
}

.types li:nth-child(odd) {
  background-color: #657ba3;
}
